body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: minty
}
h1 {
    color: blue
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    color: green;
    border-left: 5px solid #2980b9;
    padding-left: 15px;
    margin-top: 30px;
}

ul {
 padding: 1;
}

li {
    background: white;
    margin: 10px 0;
    padding: 12px 20px;
    border-radius: 8px;
    border-left: 4px solid ;
    transition: all 0.3s ease;   
}
li:hover {
    transform: translateX(15px);
    background-color:teal;
    color: white;
    cursor: pointer;
}
img {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    border-radius: 10px; 
}

img:hover {
    transform: scale(1.05); 
    color:blue;
     cursor: pointer;
}
